doctype html
html
    head
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='css/main.css')
        
    body
        .container
            h1.page-title Location by country
            section.section
                include partials/table.pug
            section.section
                include partials/controls.pug
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='js/main.js')