form.add-location
    input.input.add-location__input(type='text' placeholder='Add location')

    .add-location__item
        span.add-location__remove
            span.path1
            span.path2
            span.path3
        span.add-location__text Russian
        .select-box.add-location__select
            .select-box__content
                span.select-box__text >2%
                i.select-box__arrow-down
            ul.select-box__dropdown
                li >5%
                li >50%
                li 100%

    .add-location__item
        span.add-location__remove
            span.path1
            span.path2
            span.path3
        span.add-location__text Long location name
        .select-box.add-location__select#idef
            .select-box__content
                span.select-box__text >2%
                i.select-box__arrow-down
            ul.select-box__dropdown
                li >5%
                li >50%
                li 100%