.controls
    .controls__col
        i.controls__icon.controls__icon_audience
        span.controls__title Audience
        i.controls__icon.controls__icon_faq(title='Some description here')
        include add_location.pug
    .controls__col
        i.controls__icon.controls__icon_influence
        span.controls__title Influencer
        i.controls__icon.controls__icon_faq(title='Some description here')
        include add_location.pug