.table
    .table__col.table__col_large
        .table__cell.table__cell_header Category
        .table__cell Location: by Country
        .table__cell Location: by Country
        .table__cell Location: by Country
        .table__cell Location: by Country

    .table__col
        .table__cell.table__cell_header Criteria
        .table__cell United States
        .table__cell United States
        .table__cell United States
        .table__cell United States

    .table__col.table__col_text-right
        .table__cell.table__cell_header Percent
        .table__cell 19.6%
        .table__cell 19.6%
        .table__cell 19.6%
        .table__cell 19.6%
    
    .table__col.table__col_text-right
        .table__cell.table__cell_header Followers
        .table__cell 3,736,417
        .table__cell 3,736,417
        .table__cell 3,736,417
        .table__cell 3,736,417

    .table__col.table__col_text-right
        .table__cell.table__cell_header Engagements
        .table__cell 12,000,000
        .table__cell 12,000,000
        .table__cell 12,000,000
        .table__cell 12,000,000
